#timer {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-size: 32px;
}

#timer {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#timer span {
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  #timer {
    font-size: 24px;
  }
  #timer span {
    display: none;
  }
}
