@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}
button,
label {
  all: unset;
  padding: 10px 0;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.1s;
}
button:hover {
  opacity: 0.85;
}
